= label :book, :title, 'Title'
= text_field :book, :title
%br 
%br 

= label :book, :author, 'Author'
= text_field :book, :author
%br
%br 

= label :book, :isbn, 'ISBN'
= text_field :book, :isbn
%br
%br 

= label :book, :genre, 'Genre'
= select :book, :genre, ["Science fiction", "Drama", "Action and Adventure", "Romance", "Mystery", "Horror"]
%br
%br 

= label :book, :description, 'Description'
= text_area :book, :description
%br
%br 

= label :book, :publish_date, 'Published on'
= date_select :book, :publish_date, start_year:1900

%br
