%h1 All Books

%table#books
  %thead
    %tr
      %th Book Title
      %th Genre
      %th ISBN Number
      %th Publish date
      %th More info
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title 
        %td= book.genre
        %td= book.isbn
        %td= book.publish_date.strftime("%B %d, %Y")
        %td= link_to "More about #{book.title}", book_path(book)
  = link_to 'Add new book', new_book_path